
 {{ with .Site.Params.google_analytics }}
 
 <script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ . }}', 'auto');

// Replace the following lines with the plugins you want to use.
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'urlChangeTracker');
ga('require', 'cleanUrlTracker');
ga('require', 'impressionTracker');
ga('require', 'maxScrollTracker');
ga('require', 'pageVisibilityTracker');
// ...

ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="{{ "js/autotrack.js" | absURL }}"></script>

{{ end }}